.wasteImg {
    background-image: url('../../components/images/earthmonth.png');
    background-size: cover;
   min-height: 100vh ;

}

.overlay{
    position: relative;
    top: 0;
    left: 0;
    padding: 7vw;
    min-height: 100vh;
    background-size: auto 100%;  
  }

  .overlay::after {
    
    content: "";
    display: block;
    clear: both;
  }

  .tips{
    width: 100%;
    
  }
 