  .imagecard{
    background-size: auto;
    background-color: #fff;
    opacity: 0.5;
    transition: all .8s;
}
.cardBackground {
    box-shadow: 0 0 25px silver;
    min-height: 90vh;
}
.cardtext{
    font-size: 30px;
    color: black;
    text-shadow: none;
    background-color: black; 
    filter:opacity(.5);
    display: flex;
    justify-content: space-evenly;
}

