<<<<<<< HEAD
  .imagecard{
    background-size: auto;
    background-color: #fff;
    opacity: 0.5;
    transition: all .8s;
}
.cardBackground {
    box-shadow: 0 0 25px silver;
    min-height: 90vh;
}
.cardtext{
    font-size: 30px;
    color: black;
    text-shadow: none;
    background-color: black; 
    filter:opacity(.5);
    display: flex;
    justify-content: space-evenly;
}

=======
.imagecard{
    /* background-image: "volunteer.jpg"; */
    background-size: auto;
    background-color: #fff;
    opacity: 0.5;
}

.cardBackground {
    box-shadow: 0 0 15px silver;
    min-height: 70vh;
}
>>>>>>> 02d2e16a07eb9aca8edec8f913274641d925a3fb
