.imagecard{
    /* background-image: "volunteer.jpg"; */
    background-size: auto;
    background-color: #fff;
    opacity: 0.5;
}

.cardBackground {
    box-shadow: 0 0 15px silver;
    min-height: 70vh;
}
