.FormCenter{
    background-image: url("../../components/images/signup.jpg");
    background-size: cover;
   min-height: 100vh;
   text-align: center
   
}
.FormField__Label {
    font-size: 40px;
    margin-top: 2%;
   
}