    .volunteerImg {
      background-image: url('../../components/images/boxedwater.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: auto;
      width: 100%;
      
    }

    .overlay{
      position: relative;
      top: 0;
      left: 0;
      padding: 7vw;
      min-height: 100vh;
      background-size: auto 100%;
      
    }

    .overlay::after {
      content: "";
      display: block;
      clear: both;
    }
    calendar{
      opacity: 0.2;
    
    }
    #backgroundimage1{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
  
  }
